fastapi==0.103.1
uvicorn==0.23.2
passlib[bcrypt]==1.7.4
pydantic==2.3.0
pymongo==3.12.1  # MongoDB driver (optional)
python-multipart==0.0.5
SQLAlchemy
pydantic_settings
pymongo[srv]
psycopg2-binary
PyJWT==2.8.0
